In [21]:
import pandas as pd
import numpy as np
from pathlib import Path
import seaborn as sns

DATA_DIR = Path('.')
%matplotlib inline

In [22]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')

import matplotlib as mpl
mpl.rcParams["axes.formatter.useoffset"] = False

In [32]:
df = pd.read_csv("CBC IP sig country analysis for python v2.csv", header=0)
df.head()

,code,country,unrelatedrev,totintercopl,absintercopl,totrevenue,abstotrev
0,2,Argentina,6484473,38048,38048,6522521,6522521
1,2,Argentina,0,0,0,0,0
2,2,Argentina,722415,0,0,722415,722415
3,2,Argentina,0,0,0,0,0
4,4,Argentina,0,-22084,22084,-22084,22084

In [33]:
df.columns

Index(['code', 'country', 'unrelatedrev', 'totintercopl', 'absintercopl',
       'totrevenue', 'abstotrev'],
      dtype='object')

In [34]:
df_gg=df.groupby([df['code'],df['country']]).agg({'totintercopl':np.sum,'abstotrev':np.sum,'absintercopl':np.sum})

In [35]:
df_gg.head(2)

                totintercopl  abstotrev  absintercopl
code country
1    Australia       6559397  202572029       9886985
     Austria           62449    7597464         64575

In [36]:
g=df_gg['abstotrev'].groupby(level=0,group_keys=False)

In [37]:
s=g.nlargest(20)

In [38]:
s.apply(lambda x: '{:,.0f}'.format(x))

code  country
1     United States           606,991,528
      Germany                 243,827,833
      Australia               202,572,029
      United Kingdom          197,626,982
      Spain                   156,152,109
      Russia                   79,335,720
      Brazil                   78,462,585
      Japan                    68,604,047
      New Zealand              59,030,521
      China                    57,684,932
      France                   54,748,139
      United Arab Emirates     44,934,998
      Canada                   34,271,713
      Portugal                 34,038,950
      Belgium                  27,417,099
      Singapore                20,224,775
      Korea                    17,173,572
      Malaysia                 16,133,700
      Mexico                   14,215,542
      Italy                    13,275,976
2     United States           529,237,855
      Brazil                  174,708,716
      Germany                 167,223,732
      United Kingdom          166,415,147
      France                  138,993,796
      Canada                   74,262,050
      India                    59,672,499
      Australia                51,074,905
      Singapore                36,110,011
      Netherlands              34,616,133
                                 ...
5     China                   135,838,850
      Australia               110,996,165
      United Arab Emirates     95,119,658
      France                   58,010,697
      Czech Republic           49,705,075
      Italy                    43,930,919
      Singapore                41,846,557
      Spain                    39,404,190
      New Zealand              36,996,904
      Poland                   26,912,254
      Denmark                  25,550,080
      Hong Kong                24,374,138
      Sweden                   21,872,817
      Finland                  20,257,765
      Chile                    18,579,210
      Netherlands              17,824,335
9     United States           919,423,786
      United Kingdom          143,429,367
      Brazil                   15,243,049
      Ireland                  14,747,753
      Australia                 9,808,760
      Singapore                 3,319,529
      South Africa              2,897,199
      China                     2,674,016
      Hong Kong                 2,187,943
      Canada                    1,308,799
      India                     1,051,958
      Russia                      884,477
      Chile                       183,657
      Germany                     105,806
Name: abstotrev, dtype: object

In [39]:
df_gg['rprev_ratio']=df_gg['absintercopl']/df_gg['abstotrev']
g1=df_gg['rprev_ratio'].groupby(level=0,group_keys=False)
s1=g1.nlargest(10)
s1.apply(lambda x: '{:.3f}'.format(x))
s1.round(3)

code  country
1     Denmark                 1.000
      Hungary                 1.000
      Netherlands             1.000
      Singapore               0.297
      Greece                  0.290
      Canada                  0.185
      United States           0.123
      United Kingdom          0.074
      Australia               0.049
      Taiwan                  0.045
2     Ireland                 1.000
      Hong Kong               0.193
      United States           0.139
      Brazil                  0.129
      United Kingdom          0.125
      Japan                   0.055
      Singapore               0.052
      China                   0.048
      Denmark                 0.045
      Norway                  0.045
3     United Arab Emirates    0.152
      United States           0.090
      Hong Kong               0.088
      Indonesia               0.059
      Malaysia                0.058
      Singapore               0.056
      Czech Republic          0.050
      Philippines             0.049
      Germany                 0.047
      Belgium                 0.046
4     Portugal                1.000
      Romania                 1.000
      France                  0.146
      United States           0.139
      Netherlands             0.122
      South Africa            0.068
      Denmark                 0.060
      Singapore               0.058
      India                   0.051
      Argentina               0.048
5     Singapore               0.310
      South Africa            0.145
      United Kingdom          0.127
      Greece                  0.079
      United Arab Emirates    0.070
      Thailand                0.045
      Malaysia                0.044
      Taiwan                  0.044
      Hungary                 0.042
      Saudi Arabia            0.041
9     Australia               1.000
      Brazil                  1.000
      Canada                  1.000
      Chile                   1.000
      China                   1.000
      Germany                 1.000
      Hong Kong               1.000
      India                   1.000
      Ireland                 1.000
      Russia                  1.000
Name: rprev_ratio, dtype: float64

In [40]:
#import os
#import csv
#import sqlite3

'''def db2csv(s,Table1):
    con = sqlite3.connect("memory.db")
    cur = con.cursor()

    if not os.path.exists(s):
        os.makedirs(s)

    with open(s, 'w', newline='') as csvfile:
        spamwriter = csv.writer(csvfile, delimiter=';', quotechar='|', quoting=csv.QUOTE_MINIMAL)
        for row in cur.execute('SELECT * FROM Table1 '):
            spamwriter.writerow(row)
    con.commit()
'''

'def db2csv(s,Table1):\n    con = sqlite3.connect("memory.db")\n    cur = con.cursor()\n\n    if not os.path.exists(s):\n        os.makedirs(s)\n\n    with open(s, \'w\', newline=\'\') as csvfile:\n        spamwriter = csv.writer(csvfile, delimiter=\';\', quotechar=\'|\', quoting=csv.QUOTE_MINIMAL)\n        for row in cur.execute(\'SELECT * FROM Table1 \'):\n            spamwriter.writerow(row)\n    con.commit()\n'

In [41]:
df1 = pd.DataFrame({'Data': s})
writer = pd.ExcelWriter('countrysig.xlsx', engine='xlsxwriter')
df1.to_excel(writer, sheet_name='absintercopl')
writer.save()

In [236]:
df2 = pd.DataFrame({'Data': s1})
writer = pd.ExcelWriter('countrysig.xlsx', engine='xlsxwriter')
df2.to_excel(writer, sheet_name='rprev_ratio')
writer.save()